
  body {
     background-color: #1F0F3A;

  }

  p {
    color: aliceblue;
    font-size:15px;
    line-height: 1.75;
    padding: 10px 0;
    font-family: monospace, Consolas, 'Courier New';

  }
  hr {
    border: 1px solid #64FFDA;
    margin: 20px 0px;
    margin-right: 60px;
  }
  h3, h4 {
    color: white;
    font-family: monospace, Consolas, 'Courier New';
  }
  .role-header {
    color: white;
    font-size: 18px;
    font-family: monospace, Consolas, 'Courier New';
    padding: 10px 0 10px 0;
    line-height: 2;
  }
.featured-text {
    color: #64FFDA;
    font-size: 36px;
    font-family: monospace, Consolas, 'Courier New';
    text-align: center;
    margin-top: 22px;
    margin-bottom: 80px;
  }
  .project-header {
    color: #64FFDA;
    font-size: 24px;
    font-family: monospace, Consolas, 'Courier New';
  } 

  .section-header {
    color: #64FFDA;
    font-size: 35px;
    font-family: monospace, Consolas, 'Courier New';
  } 

  .secondary-color {
        font-family: monospace, Consolas, 'Courier New';
       color: #64FFDA;
       text-shadow: 0 0 5px #64FFDA, 0 0 10px #64FFDA, 0 0 15px #64FFDA;
    }
   .nav-link {
    color: #64FFDA !important;
    font-family: monospace, Consolas, 'Courier New';
    }
    .active{
      font-weight: bold;
      text-decoration: underline;
    }

   .hero{
  background-color: #1F0F3A;
  text-align: left;
  padding: 160px;
  }

    .intro-text {
      color: #64FFDA;
      font-size: 24px;
      font-family: monospace, Consolas, 'Courier New';
      line-height: 5;
    }

    .header-name {
      color: white;
      font-size: 50px;
    }

    .tagline {
      color: #CCD6F6;
      padding-bottom: 50px;
      line-height: 2;
      font-size: 36px;
    }
.section-intro {
  color: #CCD6F6;;
  font-size: 18px;
  font-family: monospace, Consolas, 'Courier New';
  line-height: 1.5;
}

.contact-info a:hover {
  color: #82ffc9;
  transition: color 0.3s;
}
/* Button*/ 
.cta-button {
  --green: #64FFDA;
  font-size: 15px;
  padding: 20px 40px;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.cta-button:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.cta-button:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
}

.cta-button:hover:before {
  transform: translateX(15em);
}
a {
  text-decoration: none;
  color: inherit;
}

.profile-img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  margin-left: 8em;
}

.project-link {
   display:block;
  margin: 0 20px;
  --green: #64FFDA;
  font-size: 15px;
  text-align: center;
  padding: 20px 40px;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.project-link:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
  font-size: 30px;
}

.project-link:hover{
  padding-right: 24px;
  padding-left:8px;
}

.project-link:hover:after {
  opacity: 1;
  right: 10px;
}

.content h3 {
  color: #64FFDA;
  font-size: 24px;
  font-family: monospace, Consolas, 'Courier New';
  line-height: 1.5;
}
.content p {
  color: #CCD6F6;
  font-size: 18px;
  font-family: monospace, Consolas, 'Courier New';
  line-height: 1.5;

}

footer {
  
  color: #64FFDA;
  padding: 20px 0;
  margin: 80px;
  text-align: center;
  font-family: monospace, Consolas, 'Courier New';
}
footer .contact-box {
  background:#291A40;
  padding: 30px 120px;
  border-radius: 8px;
  text-align: left;
  margin-bottom: 40px;
}
footer p {
  color: #CCD6F6;
  font-size: 18px;
  font-family: monospace, Consolas, 'Courier New';
  line-height: 1.5;
}
.contact-box p {
  margin: 0;
}

footer .social-links a {
  color: #23d0a8;
  transition: color 0.3s;
  gap: 15px;
  margin: 20px 20px;
  font-size: 40px;
}

footer .social-links a:hover {
  color: #CCD6F6;
}

footer .email-link {
  text-decoration: none;
  font-family: monospace, Consolas, 'Courier New';
  font-size: 24px;
}
footer .email-link:hover {
  color: #CCD6F6;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
  .hero {
    text-align: center;
  }
}

